.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131a26; /* Dark Blue */
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo a {
    color: #00c9a7; /* Teal */
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.navLinks a {
    color: #f0f4f8; /* Light Grey */
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.navLinks a:hover {
    color: #00c9a7; /* Teal */
    transition: color 0.3s;
}
